.main-div {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  margin: auto;
}

input:focus {
  border: 1px solid #777;
}

button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}
